svg {
  display: block;
  margin: auto;
  width: 700px;
  height: 700px;
}

rect:hover {
  fill: chartreuse;
}
.black-piece {
  transition: transform 0.5s;
  pointer-events: none;
}
.white-piece {
  transition: transform 0.5s;
  pointer-events: none;
}
.black-piece:hover {
  filter: drop-shadow(0px 0px 10px #e91010);
}
.white-piece:hover {
  filter: drop-shadow(0px 0px 10px green);
}
.dark {
  fill: darkgray;
}
.light {
  fill: lightgrey;
}
.highlight {
  fill: #a3f7b5;
}
.highlightPiece {
  fill: #aad8b4;
}
.highlight-move {
  /*stroke: orange;
  stroke-width: 6px;*/
  fill:darkseagreen;
}
.check
{
  fill:lightcoral;
}
