svg {
  display: block;
  margin: auto;
  width: 800px;
  height: 800px;
}
rect:hover {
  fill: chartreuse;
  box-shadow: 0px 0px 41px 1px rgba(255, 0, 213, 1);
}
.black-piece:hover {
  filter: drop-shadow(0px 0px 10px #e91010);
}
.white-piece:hover {
  filter: drop-shadow(0px 0px 10px green);
}
.c1-1 {
  z-index: 10;
}
[class="1-1"] {
  fill: lightgrey;
}
[class="1-2"] {
  fill: darkgray;
}
[class="1-3"] {
  fill: lightgrey;
}
[class="1-4"] {
  fill: darkgray;
}
[class="1-5"] {
  fill: lightgrey;
}
[class="1-6"] {
  fill: darkgray;
}
[class="1-7"] {
  fill: lightgrey;
}
[class="1-8"] {
  fill: darkgray;
}
[class="2-1"] {
  fill: darkgray;
}
[class="2-2"] {
  fill: lightgrey;
}
[class="2-3"] {
  fill: darkgray;
}
[class="2-4"] {
  fill: lightgrey;
}
[class="2-5"] {
  fill: darkgray;
}
[class="2-6"] {
  fill: lightgrey;
}
[class="2-7"] {
  fill: darkgray;
}
[class="2-8"] {
  fill: lightgrey;
}
[class="3-1"] {
  fill: lightgrey;
}
[class="3-2"] {
  fill: darkgray;
}
[class="3-3"] {
  fill: lightgrey;
}
[class="3-4"] {
  fill: darkgray;
}
[class="3-5"] {
  fill: lightgrey;
}
[class="3-6"] {
  fill: darkgray;
}
[class="3-7"] {
  fill: lightgrey;
}
[class="3-8"] {
  fill: darkgray;
}
[class="4-1"] {
  fill: darkgray;
}
[class="4-2"] {
  fill: lightgrey;
}
[class="4-3"] {
  fill: darkgray;
}
[class="4-4"] {
  fill: lightgrey;
}
[class="4-5"] {
  fill: darkgray;
}
[class="4-6"] {
  fill: lightgrey;
}
[class="4-7"] {
  fill: darkgray;
}
[class="4-8"] {
  fill: lightgrey;
}
[class="5-1"] {
  fill: lightgrey;
}
[class="5-2"] {
  fill: darkgray;
}
[class="5-3"] {
  fill: lightgrey;
}
[class="5-4"] {
  fill: darkgray;
}
[class="5-5"] {
  fill: lightgrey;
}
[class="5-6"] {
  fill: darkgray;
}
[class="5-7"] {
  fill: lightgrey;
}
[class="5-8"] {
  fill: darkgray;
}
[class="6-1"] {
  fill: darkgray;
}
[class="6-2"] {
  fill: lightgrey;
}
[class="6-3"] {
  fill: darkgray;
}
[class="6-4"] {
  fill: lightgrey;
}
[class="6-5"] {
  fill: darkgray;
}
[class="6-6"] {
  fill: lightgrey;
}
[class="6-7"] {
  fill: darkgray;
}
[class="6-8"] {
  fill: lightgrey;
}
[class="7-1"] {
  fill: lightgrey;
}
[class="7-2"] {
  fill: darkgray;
}
[class="7-3"] {
  fill: lightgrey;
}
[class="7-4"] {
  fill: darkgray;
}
[class="7-5"] {
  fill: lightgrey;
}
[class="7-6"] {
  fill: darkgray;
}
[class="7-7"] {
  fill: lightgrey;
}
[class="7-8"] {
  fill: darkgray;
}
[class="8-1"] {
  fill: darkgray;
}
[class="8-2"] {
  fill: lightgrey;
}
[class="8-3"] {
  fill: darkgray;
}
[class="8-4"] {
  fill: lightgrey;
}
[class="8-5"] {
  fill: darkgray;
}
[class="8-6"] {
  fill: lightgrey;
}
[class="8-7"] {
  fill: darkgray;
}
[class="8-8"] {
  fill: lightgrey;
}
