body {
  background-color: #fbf0f0;
  box-sizing: border-box;
}
svg {
  order: 2;
  display: block;
  width: 700px;
  height: 700px;
  border: 5px solid;
}
.main {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.turn {
  width: 300px;
  border: #03045e 3px dashed;
  border-radius: 5px;
}
.borderTurn {
  border-style: solid;
}
.timer {
  margin: 0;
  padding: 0.25em;
  text-align: center;
  font-size: 2rem;
}
.black {
  order: 1;
}
.white {
  order: 3;
}
.progress-container {
  border: darkorchid solid 1px;
  height: 20px;
}
.progress {
  height: 100%;
  background: rgb(255, 4, 43);
  background: #1e9600; /* fallback for old browsers */
  background: linear-gradient(
    to right,
    #ff0000,
    #fff200,
    #1e9600
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.running {
  background-color: #00917c;
  color: #dfe0df;
  border-color: #00917c;
  border-width: 20px;
}

rect:hover {
  fill: chartreuse;
}
.black-piece {
  transition: transform 0.5s;
  pointer-events: none;
}
.white-piece {
  transition: transform 0.5s;
  pointer-events: none;
}
.black-piece:hover {
  filter: drop-shadow(0px 0px 10px #e91010);
}
.white-piece:hover {
  filter: drop-shadow(0px 0px 10px green);
}
.dark {
  fill: darkgray;
}
.light {
  fill: lightgrey;
}
.highlight {
  fill: #a3f7b5;
}
.highlightPiece {
  fill: #aad8b4;
}
.highlight-move {
  stroke: orange;
  stroke-width: 6px;
 
  height: 97px;
  width: 97px;
}
.check {
  fill: lightcoral;
}
